#                                        Introduction in Python

## Data Types

### Numbers:

In [1]:
#Addition
2+3

5

In [6]:
#Subtraction
5-3

2

In [7]:
#Multiplication
2*6

12

In [8]:
#Division
3/6

0.5

In [10]:
#Modulus
6%4

2

In [12]:
16%8

0

In [13]:
#Exponentation
3**2

9

In [14]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [15]:
# Variable names cannot start with number or special characters
var_name = 2

In [17]:
x = 4
y = 6
z=x+y
z

10

### Strings

In [18]:
'This is an example for single quotes'

'This is an example for single quotes'

In [19]:
"This is an example for double quotes"

'This is an example for double quotes'

In [26]:
"can wrap lot's of other quotes"

"can wrap lot's of other quotes"

### Print()

In [28]:
s='hello'
s

'hello'

In [29]:
print(s)

hello

In [30]:
num = 10
name = 'Ann'

In [35]:
#This allows for re-arranging the order of display without changing the arguments.

print('Her daughter {one} is in {two}yrs old.'.format(one=name,two=num))

Her daughter Ann is in 10yrs old.

In [34]:
#The variables given in parenthesis must follow the order in the way to be displayed.
#only have very few elements to concatenate.

print('Her daughter {} is in {}yrs old.'.format(name,num))

Her daughter Ann is in 10yrs old.

### Lists

In [36]:
[2,4,6]

[2, 4, 6]

In [37]:
['hello',1,[2,4]]

['hello', 1, [2, 4]]

In [47]:
lst=['apple','banana','mango']
lst.append('strawberry')

In [48]:
lst

['apple', 'banana', 'mango', 'strawberry']

In [49]:
lst[1]

'banana'

In [50]:
lst[1:]

['banana', 'mango', 'strawberry']

In [51]:
lst[:1]

['apple']

In [52]:
lst[0]='new'

In [53]:
lst

['new', 'banana', 'mango', 'strawberry']

In [54]:
nest = [1,2,3,[4,5,['target']]]

In [59]:
nest[3]

[4, 5, ['target']]

In [60]:
nest[3][2]

['target']

In [61]:
nest[3][2][0]

'target'

### Dictionaries

In [62]:
d = {'key1':'value1','key2':'value2'}
d

{'key1': 'value1', 'key2': 'value2'}

In [63]:
d['key1']

'value1'